
<div class="center center-block card" style="margin-top: 40px; width: 400px; height: 750px;">
	<div class="triangle"></div>
	<div class="innerTriangle"></div>
	<div style="padding: 20px">
		<h1 style="margin-top: 60px;">
			LOGO
			<fa-icon [icon]="faCofee" style="margin-left: 10px;"></fa-icon>
		</h1>
		<div style="margin-top: 120px;">
			<div class="inputBubble">
				<span style="width: 20px; margin-right: 20px;">
          <fa-icon [icon]="faUser"></fa-icon>
        </span>
        <input type="text" style="width: calc(100% - 40px);">
      </div>
      <div class="inputBubble">
        <span style="width: 20px; margin-right: 20px;">
        <fa-icon [icon]="faLock" style="width: 20px"></fa-icon>
        </span>
        <input type="text" style="width: calc(100% - 80px)">
        <fa-icon [icon]="faQuestion" style="width: 20px; opacity: 0.6"></fa-icon>
      </div>
      <div class="inputBubble" style="text-align: center; margin-top: 60px; cursor: pointer; background-color: #409a21;">
        <span style="font-size: 120%; color: white">Login</span>
      </div>
    </div>
    <div class="center icons" style="margin-top: 220px">
      <span><fa-icon [icon]="faEye"></fa-icon></span>
      <span><fa-icon [icon]="faQR"></fa-icon></span>
      <span><fa-icon [icon]="faEnvelope"></fa-icon></span>
      <span><fa-icon [icon]="faPin"></fa-icon></span>
    </div>
  </div>
</div>