.triangle {
  position: absolute;
  top: 105px;
  padding: 0px;
  padding-left: 0px !important;
  height: 0;
  width: 0;
  border-left: 250px solid #21409A;
  border-right: 250px solid transparent;
  border-bottom: 300px solid transparent;
  border-top: 300px solid transparent;
  z-index: -1;
}

.innerTriangle {
  position: absolute;
  top: 220px;
  padding: 0px;
  padding-left: 0px !important;
  height: 0;
  width: 0;
  border-left: 150px solid white;
  border-right: 150px solid transparent;
  border-bottom: 180px solid transparent;
  border-top: 180px solid transparent;
  z-index: -1;
}
